.productRow > hr{
	width:95%;
	margin-left:15px;
}

.addOrderProduct:hover{
	cursor:hand;
	background:silver;
	margin:10px;
}
.removeOrderProduct:hover{
	cursor:hand;
	background:silver;
	margin:10px;
}